* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Arial, Roboto, Open Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --thinfont: 300;
  --bigfont: 68px;
  --smallfont: 20px;
}

.nav {
  display: flex;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12.5px 20px 20px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav-right .nav-link {
  margin: 0 7.5px;
  font-size: var(--smallfont);
  font-weight: var(--thinfont);
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo__title {
  font-size: 16px;
  max-width: 55px;
  margin-left: 10px;
  font-weight: bolder;
}

.hero {
  max-width: 1280px;
  margin: auto;
  display: flex;
  padding: 100px 20px;
}

.hero h1 {
  font-size: var(--bigfont);
  font-weight: bolder;
}

.hero p {
  font-size: var(--smallfont);
  line-height: 1.45;
  margin: 20px 0;
}

.hero h1,
.hero p {
  max-width: 350px;
}

.cta {
  padding: 20px;
  background: #000;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: var(--thinfont);
  font-size: var(--smallfont);
  transition: all 0.15s ease-in-out;
}

.cta:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 600px) {
  .nav-right .nav-link {
    margin-left: 0;
    font-size: 16px;
    margin-right: 5px;
  }

  .nav-logo svg {
    width: 30px;
    height: 30px;
  }

  .nav-logo__title {
    display: none;
  }
}
