* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Arial, Roboto, Open Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --thinfont: 300;
  --bigfont: 68px;
  --smallfont: 20px;
}

.nav {
  display: flex;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12.5px 20px 20px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav-right .nav-link {
  margin: 0 7.5px;
  font-size: var(--smallfont);
  font-weight: var(--thinfont);
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo__title {
  font-size: 16px;
  max-width: 55px;
  margin-left: 10px;
  font-weight: bolder;
}

.hiddenhero {
  position: relative;
  overflow: hidden;
}

.hero {
  max-width: 1280px;
  margin: auto;
  display: flex;
  padding: 100px 20px;
}

.hero h1 {
  font-size: var(--bigfont);
  font-weight: bolder;
}

.hero p {
  font-size: var(--smallfont);
  line-height: 1.45;
  margin: 20px 0;
}

.hero h1,
.hero p {
  max-width: 350px;
}

.cta {
  padding: 20px;
  background: #000;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: var(--thinfont);
  font-size: var(--smallfont);
  transition: all 0.15s ease-in-out;
}

.cta:after {
  content: "\A0\2192";
  position: relative;
  margin-left: 10px;
  top: -2px;
}

.cta:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

.circle {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  position: absolute;
}

.circle1 {
  background: #e9ff00;
  transform: translate3d(10%, 50%, 0);
}

.circle2 {
  background: #00ffc5;
  transform: translate3d(80%, -10%, 0);
}

.circle3 {
  background: #0091ff;
  transform: translate3d(110%, 40%, 0);
}

.main-paper {
  width: 550px;
  height: 700px;
  background: #fff;
  position: absolute;
}

.main-paper1 {
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1),
    7px 5px 10px rgba(0, 0, 0, 0.06);
  transform: rotate(11deg) translate3d(30%, -10%, 0);
}

.main-paper2 {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06);
  transform: rotate(9deg) translate3d(30%, -10%, 0);
}

.main-paper3 {
  transform: rotate(7deg) translate3d(30%, -10%, 0);
  padding: 10px;
}

.paper {
  padding: 30px 20px 20px;
  user-select: none;
}

.paper-col {
  padding: 0 0 30px;
  margin: 0 0 20px;
  border-bottom: 1px solid #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #494949;
  line-height: 1.45;
  font-size: 10px;
  font-weight: var(--thinfont);
}

.paper-title {
  font-size: 16px;
  color: #000;
}

.paper-title h4 {
  font-size: 10px;
}

.text-right {
  text-align: right;
}

.paper-right {
  width: 66.66%;
}

.bold {
  font-weight: 500;
  color: #000;
}

.push {
  margin-top: 15px;
}

@media (max-width: 945px) {
  .hero {
    flex-direction: column;
  }

  .hero > div {
    text-align: center;
    margin-bottom: 50px;
  }

  .hero h1 {
    max-width: 100%;
  }

  .hero p {
    margin: 20px auto;
    max-width: 550px;
  }

  .hero figure {
    height: 300px;
    transform: translate3d(-70px, 30px, 0) scale(0.9);
  }
}
@media (max-width: 600px) {
  :root {
    --bigfont: 42px;
    --smallfont: 16px;
  }
  .nav-right .nav-link {
    margin-left: 0;
    font-size: 16px;
    margin-right: 5px;
  }

  .nav-logo svg {
    width: 30px;
    height: 30px;
  }

  .nav-logo__title {
    display: none;
  }

  .hero {
    padding: 40px 20px;
  }

  .hero figure {
    height: 210px;
    transform: translate3d(-140px, 40px, 0) scale(0.6);
  }
}
